.money-information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  /*z-index: 2;*/
}
.money-information__button {
  background-color: whitesmoke;
  border: none;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  font-family: "Do Hyeon", sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 600;
}
.money-information__button:hover {
  color: white;
  background-color: black;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
