.menue-titles-title {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-bottom: 1px solid var(--white);
  padding: 60px 0px;
  width: 100%;
  position: fixed;
  top: 0;
}

@keyframes money {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.menue-titles-img {
  display: flex;
  margin-top: -15px;
  height: 60px;
  width: 60px;
  will-change: transform;
  animation: money 60s ease-in-out infinite;
}

.menue-titles__info-link {
  text-decoration: none;
}

.menue-pa__titles-text {
  color: var(--white);
  font-family: "Do Hyeon", sans-serif;
  font-size: 30px;
}
.alt-menue-titles-title {
  z-index: 1;
  background-color: black;
}
